
.notes-content {
    grid-template-columns: 50% 100%;
    margin-top: 60px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
    background-color: var(--side-bar-color);


}

th, td {
    padding: 8px;
    text-align: left;
    border: 2px solid var(--primary-color-light);
}
thead {


}
thead th {
    background-color: var(--body-color);
    color: var(--primary-color);
}
th {
    font-weight: bold;
}
thead {
    position: page;
}
tr:nth-child(even) {
    background-color: var(--body-color);
    color: #6d6b6b;
}

tr:nth-child(odd) {
    background-color: #fff;
}
.years-selection {
    background-color: var(--side-bar-color);
    margin-top: 8px;
    height: 100%;

}
.header-page {
    justify-content: space-between;
    background-color: var(--side-bar-color);
    color: var(--text-color);
    padding: 20px;
    margin: 5px;
}
.download-button {
    justify-content: center;
    align-items: center;
    padding: 8px;

}

.download-button button {
    padding: 5px;
    width: 100px;
    color: white;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}
.school-year {
    padding: 12px;
}

.student-max {

    position: fixed;
    width: 77%;
    left: 300px;
    height: 70vh;
    overflow: scroll;


}

.school-year {
    background-color: var(--primary-color-light);
    margin-top: 5px;
}
.years-selection{
    position: fixed;
    color: var(--text-color);
    padding: 15px;

}

hr {
    opacity: 0.3;
}
.summary {
   margin-top: 10px;
    width: 250px;
}

.current-year {
    background-color: var(--primary-color);
    color: white;
}
